* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* calendar */
.weekdays {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.weekdays li {
    cursor: pointer;
    min-height: 3em;
    min-width: 3em;
    text-align: center;
    padding: 1em;
}

.weekdays li:before {
    content: attr(data-dayname);
}

.weekdays li.today {
    box-shadow: inset 0 0 0 1px black;
}

.weekdays li.selected {
    background: #eee;
}

/* todos */

.todo-schedule {
    background-color: #f0f0f0;
    list-style: none;
    display: flex;
    overflow: hidden;
    position: relative;
    flex: 1;
    flex-grow: 1;
    flex-direction: row;
    height: 70vh;
    scroll-behavior: smooth;
}

.todo-schedule ul {
    display: block;
    width: 100%;
    min-width: 100%;
    opacity: 0;
    transform: scale(1);
    padding: 2em;
    height: 60vh;
    transition: all .2s;
    left: 0;
    list-style: none;
}

.todo-schedule ul:empty:before {
    content: '^_^';
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: 480%;
    color: rgba(0,0,0,.1);
}

.todo-schedule .selected {
    transform: scale(0.98);
    opacity: 0;
    display: block;
    /* padding: 0; */
    margin: 0;
    animation: fadein .2s linear forwards;
    z-index: 1;
}

.todo-schedule li {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.todo-schedule li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.todo-schedule .selected li {
    animation: slidein .1s ease-out 0s 1 forwards;
}

form {
    padding: 1em;
}

form input {
    padding: 1em;
}

form select, form button {
    padding: 1em;
    height: 3.5em;
    border-radius: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.99);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {

    }
}